<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{% block csslink %}{% static 'course/css/style.css' %}{% endblock csslink %}"
    />
    <link rel="stylesheet" href="{% static 'course/css/main.css' %}" />
    <title>{% block title %}My Site{% endblock title %}</title>
  </head>
  <body>
    {% include 'course/components/header.html' %}
    <br />
    {% block heading %}{% endblock heading %}
    <br />
    <main>{% block content %}{% endblock content %}</main>
    <script src="{% static 'course/js/scripts.js' %}"></script>
  </body>
</html>
