<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'course/css/style.css'%}" />
    <title>Chapter5 Course Home</title>
  </head>
  <body>
    <h1>Chapter5 Course Home</h1>
    <img src="{% static "course/images/avatar.jpg" %}" alt="avatar">
    <br />
    <input type="button" value="click me" onclick="disp()" />
    <script src='{% static "course/js/scripts.js" %}'></script>
  </body>
</html>
