{% extends "course/base.html" %} {% load static %}
<br />
{% block title %}Chapter5 Course Home {% endblock title %}
<br />
{% block heading %}
<h1 class="text-2xl font-bold text-center my-4">Chapter5 Course Home</h1>
{% endblock heading %}
<br />
{% block content %}
<div class="container mx-auto">
  <div class="flex justify-center gap-8 items-center">
    <img src="{% static "course/images/avatar.jpg" %}" alt="avatar" class="w-1/4
    mb-4">
    <br />
    <img
      src="{% get_static_prefix %}course/images/avatar.jpg"
      alt="avatar"
      class="w-1/4 mb-4"
    />
  </div>
  <hr />
  <input
    class="text-lg bg-white border rounded-lg px-4 py-2 my-4 shadow"
    type="button"
    value="click me"
    onclick="disp()"
  />
</div>
{% endblock content %}
