{% extends "course/base.html" %} {% load static %}
<br />
{% block title %}Chapter5 Course Home {% endblock title %}
<br />
{% block heading %}
<h1>Chapter5 Course Home</h1>
{% endblock heading %}
<br />
{% block content %}
<div>
  <img src="{% static "course/images/avatar.jpg" %}" alt="avatar">
  <br />
  <img
    src="{% get_static_prefix %}course/images/avatar.jpg"
    alt="avatar"
    width="300px"
  />
  <br />
  <input type="button" value="click me" onclick="disp()" />
</div>
{% endblock content %}
